 

/*
*
* All of this was written by me, viktor. But my main inspiration is this man's page!!1
*
* https://myspace.windows93.net/?id=25450
*
*/

/* Used for avatar popup. */
@keyframes popup {
	from {
		width: 0px;
		height: 0px;
	}
	to {
		width: 200px;
		height: 200px;
	}
}

@keyframes popup_blog {
	from {
 		width: 0px;
		height: 0px;
	}
	to {
		width: 100%;
		height: 100%;
	}
}


@keyframes Prev_popup {
	from {
		max-height: 0px;
		max-weight: 0px;
	}
	to {
		max-height: calc( 100% - 10px );
		max-weight: 100%;
	}
}

/* Thanks to @randomtrash :D */
@media (orientation: landscape) {

    .topLeft {
        top: 53px;
        position: sticky;
    }

}

/* Blog shit */

/* Comment colour. */
.tableRight > div > p {
    color: black;
}

div.blogs > div > b {
    color: white;
    background-color: #3B866D;
    padding-left: 4px;
    padding-bottom: 1px;
    text-decoration: underline;
}

div.blogs > div > b:after {
    content: ":";
}

div.blogs > div {
    padding-top: 10px;
    color: #C7C7C7;
}

div.topLeft.blogCard {
    color: #C7C7C7;
    margin-top: 10px;
}

.blogCard > .avatar {
    animation: popup_blog .7s;
}

div.blogCorpus > p {
    color: white;
}

.blog {
    background-color: #2f2f2f !important;
    border: 2px solid black;
}

/***  End of Blog shit  ***/
/**************************/

#imgPreview > img:hover {
    filter: brightness(65%);
}

#avatar:hover {
    filter: brightness(65%);
}

.fwiendFace > img:hover {
    filter: brightness(65%);
}

.tableLeft img:hover {
    filter: brightness(65%);
}

audio {
    filter: none;
}

.player {
    background-color: #2f2f2f;
    border: 1px solid black;
}

.player > div > a > img {
    height: 0px !important;
}

.songName {
    font-size: 0px;
}

#imgPreview > img {
    animation: Prev_popup .7s;
    background-color: #2f2f2f;
    border: 4px solid black;
}

.avatar {
    animation: popup .7s;
    background-color: #404040;
    border: 1px solid black;
}

div.box.blurbs {
    background-color: #2f2f2f;
    border: 1px solid black;
    padding-left: 4px;
    padding-right: 4px;
}

div.box.comments > div {
    color: white;
}

div#footer.box > div > p {
    color: #C7C7C7;
}

div.box.blurbs > h4 {
    background-color: #3B866D;
    color: white;
    text-decoration: underline;
    padding-left: 4px;
    padding-bottom: 1px;
}

div#online {
    content: url(https://i.imgur.com/q0kafNR.gif)
}

.url.box > div > b {
    background-color: #3B866D;
    color: white;
    padding-left: 6px;
    padding-bottom: 2px;
}

#top {
    text-align: center;
    background-color: #2f2f2f;
    margin-top: -20px;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    border-right: 1px solid black;
    padding-top: 3px;
    padding-bottom: 15px;
}

img {
    image-rendering: auto;
}

#add, #sMsg, #report, #block {
    padding-right: 420px;
}

#add {
    background-image: url(https://i.imgur.com/sANviq7.png);
}

#report {
    background-image: url(https://i.imgur.com/ord1pEH.png);
}

#sMsg {
    background-image: url(https://i.imgur.com/x6soEtU.png);
}

#block {
    background-image: url(https://i.imgur.com/sQqACw4.png);
}

#add:hover {
    background-image: url(https://i.imgur.com/sdkZK0y.png);
}

#report:hover {
    background-image: url(https://i.imgur.com/UL6Tsq0.png);
}

#sMsg:hover {
    background-image: url(https://i.imgur.com/E46tyPM.png);
}

#block:hover {
    background-image: url(https://i.imgur.com/u68lp6v.png);
}

.url.box > div > a {
    color: aquamarine !important;
    padding-left: 6px;
    text-decoration: underline !important;
}

.url.box > div > a:hover {
    color: #57AF92 !important;
}

.short {
    background-color: #2f2f2f;
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    border-left: 1px solid black;
}

/* Ignore this */
.url.box > div {
    padding-bottom: 4px;
}
/***************/

html body {
    background-image: url(https://i.imgur.com/FP4OmCt.png);
    background-color: rgb(33, 33 ,33);
    font-family: Consolas, Monospace, Arial;
}

div#about > p {
    color: #C7C7C7;
    padding-top: 4px;
}

div#who {
    padding-top: 4px;
}

div#who {
    color: #C7C7C7;
}

td.shortRight {
    color: #C7C7C7;
}

span.fwiendCount {
    color: #C7C7C7;
}

.fwiendFace > img {
    background-color: #404040;
    border: 1px solid black;
    width: 120px;
    height: 130px;
    margin-left: auto;
    margin-right: auto;
}

.fwiendFace > b {
    white-space: nowrap;
}

div#hSub {
    background-color: #2E2E2E;
    border-bottom: 1px solid black;
}

div#header {
    background-color: #151515;
}

a {
    color: aquamarine;
}

a:hover {
    color: #57AF92;
}

div.rightHead {
    font-size: 0px;
    background-color: #3B866D;
    color: white;
}

div.fwiendCounter {
    color: white;
    padding-left: 4px;
    background-color: #3B866D;
    border-top: 1px solid black;
    border-right: 1px solid black;
    border-left: 1px solid black;
    padding-bottom: 1px;
}

h4 {
    color: black;
}

textarea#commentInput:focus {
    border: 1px solid #3B866D;
}

textarea#commentInput {
    background-color: black;
    color: white;
    border: 1px solid #1F5543;
}

div.boxHead {
    background-color: #3B866D;
}

div.boxInfo.box {
    background-color: #2f2f2f;
}

.extended.box {
    color: aquamarine;
    background-color: #2f2f2f;
}

.url {
    border: solid 1px black;
    color: #C7C7C7;
    background-color: #2f2f2f;

    padding-top: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
}

.tableLeft > a > div {
    max-width: none;
}

.tableLeft {
    width: 1%;
    padding: 0;
    background-color: #489d6d9e;
}

.tableRight {
    background-color: #245338;
}

b.date {
    color: #C7C7C7;
}

#viewFriends {
    color: #494949;
}

.boxButton {
    padding-left: 45px;
    color: aquamarine;
}

.boxButton:hover {
    color: #57AF92;
}

#name {
    background-color: #3B866D;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-top: 1px solid black;
    padding-left: 5px;
    font-size: 18px;
    padding-bottom: 1px;
    color: white;
}

#hSub > a:hover {
    color: #57AF92;
}

#hUp > a:hover {
    color: #57AF92;
}

.extended.box > h3 {
    font-size: 0px;
}

.extended.box > h3:after {
    content: "I won't ever leave my room, but I'm getting good at writing letters";
    font-size: 17px;
}

.extended.box {
    padding-top: 18px;
    padding-bottom: 18px;
}


/* Chromium (ewwwwwwww) */
@media screen and (-webkit-min-device-pixel-ratio:0) and (min-resolution:.001dpcm) {

    .tableLeft {
        width: 20% !important;
    }

    img {
        image-rendering: -webkit-optimize-contrast;
    }

    .url.box > div > b {
        padding-right: 282.656px;
    }

    div.blogs > div > b {
        padding-right: 357.73px;
    }

}

/* Firefox */
@-moz-document url-prefix() {

    .tableLeft {
        width: 1% !important;
    }

    .url.box > div > b {
        padding-right: 285px;
    }

    div.blogs > div > b {
        padding-right: 364.4px;
    }

}


